# Environment related functionality

# NODE SETUP
HOST = ""
PORT = ""
NODE_ENV = ""

# LOGGER
LOG = ""
ENABLE_BUNYAN_LOGGING = ""
ENABLE_DEBUG_LOGGING =""

# SERVICE RELATED INFORMATION
APPLICATION_BASE_URL = ""
APPLICATION_BASE_HOST= ""
URL_PREFIX =""

# AUTHORIZATION KEY
AUTHORIZATION = ""


# SHIKSHALOKAM SERVICE
SHIKSHALOKAM_BASE_HOST= ""

INTERNAL_ACCESS_TOKEN = ""

# MONGODB DATABASE CONFIGURATION 
MONGODB_URL = ""
DB = ""

# CASSANDRA DATABASE CONFIGURATION 
CASSANDRA_HOST  = ""
CASSANDRA_PORT = ""

# SUNBIRD CONFIGURATIONS
SUNBIRD_KEYCLOAK_AUTH_SERVER_URL = ""
SUNBIRD_KEYCLOAK_REALM =""
SUNBIRD_KEYCLOAK_CLIENT_ID = ""
SUNBIRD_KEYCLOAK_PUBLIC = ""
SUNBIRD_CACHE_STORE = ""
SUNBIRD_CACHE_TTL = ""
SUNBIRD_URL = ""
KEYSPACE =""
SUNBIRD_CHANNEL =""


# MIGRATIONS SETUP
MIGRATION_COLLECTION = ""
MIGRATION_DIR = ""

# SLACK CONFIGURATIONS
SLACK_COMMUNICATIONS_ON_OFF = ""
SLACK_EXCEPTION_LOG_URL = ""
SLACK_TOKEN = ""
RUBRIC_ERROR_MESSAGES_TO_SLACK = ""

# PLATFORM ADMIN AND ORGANIZATION ADMIN ROLE 
PLATFORM_AND_ORG_ADMIN_ROLE_TO_USER = ""

# USER MANAGEMENT SERVICE
USER_MANAGEMENT_HOST = ""
USER_MANAGEMENT_BASE_URL = ""


#CASSANDRA CONFIG
CASSANDRA_HOST  = ""
CASSANDRA_PORT = ""
KEYSPACE = ""

#CLOUD STORAGE 
CLOUD_STORAGE = ""
STORAGE_BUCKET = ""
    
#KENDRA CONFIG
KENDRA_SERIVCE_HOST = ""
KENDRA_SERIVCE_BASE_URL = ""

#BATCH UPLOAD FOLDER
BATCH_FOLDER_PATH = ""

#SAMIKSHA CONFIG
SAMIKSHA_SERIVCE_HOST = ""
SAMIKSHA_SERIVCE_BASE_URL = ""

#Sunbird service config
SUNBIRD_SERIVCE_HOST = https://dev.api.shikshalokam.org
SUNBIRD_SERIVCE_BASE_URL = "/sunbird/"

# APi Doc
APIDOC_URL = "/sunbird-service/apidoc/*"
DEFAULT_APIDOC_URL = "/apidoc"
APIDOC_PATH = "/public/apidoc/"